
.wacs-select-container {
    margin-bottom: 22px  ; 
}

.et_divi_builder #et_builder_outer_content .et_pb_module p.wacs-select-container,
p.wacs-button-container {
    margin-bottom: 28px  ;
}

#wacs-wrapper .wacs-button-container  a { 
    padding: 12px  24px  ;
    color: #fff ;    
    background-color: #2278c8 ;
    border-radius: 2px ;
    box-shadow:         0px 1px 0px 0px  #fff;
    text-transform: uppercase ;
    
}

#wacs-wrapper .wacs-button-container  a:active {
    background-color:   #3b8cd7  ;
    padding: 12px  24px  ;
    color: #fff ;    
    border-radius: 2px ;
    box-shadow:         0px 1px 0px 0px  #fff;
}